html, body {
    height: 100% ;
    margin: 0;
}

.grid-container {
    grid-template-rows: 100px calc(80% - 150px) 50px auto;
    grid-template-columns: 300px auto ;
    height: 100% ;
    display: grid;
    gap: 1px;
    background-color: #000000;
}

.grid-container > div {
    background-color: rgba(255, 255, 255, 1.0);
    font-size: 30px;
}

.head {
    grid-column-start: 1;
    grid-column-end: 3;
}
.left{
    grid-row-start: 2;
    grid-row-end: 5;
}
.main {
    grid-column-start: 2;
    grid-column-end: 3;

    grid-row-start: 2;
    grid-row-end: 3;
}
.cuttingLine {
    grid-column-start: 2;
    grid-column-end: 3;

    grid-row-start: 4;
    grid-row-end: 5;
}

.tools {
    grid-column-start: 2;
    grid-column-end: 3;

}